html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

* {
  box-sizing: border-box;
}

body {
  /* Approximate system fonts
    -apple-system, BlinkMacSystemFont, // Safari Mac/iOS, Chrome
    "Segoe UI", Roboto, Oxygen, // Windows, Android, KDE
    Ubuntu, Cantarell, "Fira Sans", // Ubuntu, Gnome, Firefox OS
    "Droid Sans", "Helvetica Neue", sans-serif; // Old Android
  */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #14152b;
}

input[type=text].disabled {
  background: beige;
}

svg {
  fill: currentColor;
}

button:enabled {
  cursor: pointer;
}

button.invisibutton {
  border: 0;
  background: transparent;
}

.list > ol > li:nth-child(odd) {
  color: black;
  background: #eeeeee;
}

.list > ol > li:nth-child(even) {
  color: black;
  background: whitesmoke;
}

.App {
  min-width: 250px;
  position: relative;
}

.bar {
  position: relative;
  z-index: 3;
  height: 50px;
  width: 100%;
  background: whitesmoke;
}

.bar-menu {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 5;
  padding: 10px;
}

.bar-menu .icon {
  width: 20px;
}

.bar-field {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  font-size: large;
  font-weight: bold;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  padding: 5px 60px;
  z-index: 4;
  color: dimgrey;
  background: whitesmoke;
  border: 0;
}

.bar-field::placeholder {
  color: darkgrey;
}

.bar-dismiss {
  position: fixed;
  top: 5px;
  right: 10px;
  font-size: large;
  z-index: 4;
  padding: 13px 7px;
}

.bar-dismiss .icon {
  width: 15px;
}

.bar-list {
  max-width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nothing"
    "results";
  box-shadow: 0px 12px 15px 0px rgb(0,0,0,0.25);
}

.bar-list ol {
  grid-area: results;
  border: 1px solid grey;
  background: whitesmoke;
}

.main {
  position: relative;
  z-index: 1;
  padding: 65px 5px;
  width: 100%;
}
.player-alt {
  display: block;
  margin: auto auto;
  max-width: 100%;
}
.Player {
  margin: auto auto;
  max-width: 100%;
}

.youtube-result {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-areas:
    "left right"
}

.youtube-result .toggle {
  width: 100px;
  padding: 2px 5px;
  font-size: x-small;
  font-weight: bold;
}

.youtube-result .toggle.toggled {
  text-align: right;
}

.youtube-result .toggle.toggled img {
  margin-left: 5px;
}

.youtube-result .toggle .idx {
  display: inline;
  color: #666666;
}
.youtube-result .art {
  grid-area: left;
  border: 1px solid #a1b2e6;
  border-radius: 5px;
  position: relative;
}

.youtube-result .art img {
  border-radius: 5px;
}

.youtube-result .toggle .art {
  background-color: #b6d2f0;
  box-shadow: inset -3px 0px 5px -3px rgba(0,0,0,0.75);
}

.youtube-result .toggle.toggled .art {
  box-shadow: inset 3px 0px 5px -3px rgba(0,0,0,0.75);
}

.youtube-result .toggle .art-img {
  box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.75);
}
.youtube-result .toggle.toggled .art-img {
  box-shadow: -3px 0 5px 0 rgba(0, 0, 0, 0.75);
}

.youtube-result .art-img {
  width: 60px;
  height: 45px;
  vertical-align: middle;
}

.youtube-result-info {
  grid-area: right;
}

.youtube-result-title {
  font-size: small;
  font-weight: bold;
}

.youtube-result-channel {
  font-size: x-small;
  margin-right:

}

.youtube-result-title, .youtube-result-channel {
  padding: 5px;
}

.youtube-result .icon {
  width: 20px;
}

.youtube-result.actionable {
  cursor: pointer;
}

.youtube-result button {
  float: right;
  padding: 15px 15px 5px 5px;
  border: 0;
  background: transparent;
}

.youtube-result button span, .youtube-result button img {
  vertical-align: middle;
}

.youtube-result button:hover, .controls button:hover {
  color: steelblue;
}

.actions {
  position: relative;
  float: right;
  clear: right;
}

.action-label {
  margin-right: 15px;
}

.action-icon {
  width: 20px;
}

.upNext h3, .history h3 {
  cursor: pointer;
  text-align: center;
}

.upNext.not-collapsed>h3, .history.not-collapsed>h3 {
  color: darkgrey;
  background-color: whitesmoke;
}

.upNext.collapsed h3:hover, .history.collapsed h3:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.upNext.not-collapsed h3:hover, .history.not-collapsed h3:hover {
  background-color: #e8e8e8;
}

.collapsed>ol {
  display: none;
}

.upNext, .history {
  text-align: left;
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
  color: whitesmoke;
}

.controls {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: medium;
  padding: 5px 0;
  background: whitesmoke;
  box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.25);
}

.controls-buttons {
  display: grid;
  grid-template-columns: 50px 50px minmax(50px, 1fr) 50px 50px;
  grid-template-areas:
    "history prev togglePlaying next upNext";
  background: whitesmoke;
}

.controls button {
  padding: 10px 0;
  border: 0;
  color: dimgrey;
  fill: currentColor;
  background: transparent;
  font-weight: bold;
}

.controls-buttons button img {
  width: 20px;
}

.playingNow {
  padding: 0 15px 0 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.25);
  font-size: small;
  background: whitesmoke;
}

.seek-bar {
  grid-area: seekBar;
  border: 1px solid #f8f8f8;
  background: dimgrey;
}

.seek-bar--played {
  height: 10px;
  background: hotpink;
}

.controls-history {
  grid-area: history;
}

.controls-prev {
  grid-area: prev;
}
.controls-togglePlaying {
  grid-area: togglePlaying;
}

.controls-next {
  grid-area: next;
}
.controls-upNext {
  grid-area: upNext;
}

.queue {
  margin-bottom: 100px;
}

.queue h3 {
  font-size: large;
  padding: 10px;
}

.inCollection {
  color: green;
}

.notInCollection {

}

.autoparty {
  position: relative;
  padding: 15px;
  width: 100%;
  max-width: 640px;
  margin: 0 auto 30px;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: top right;
  background-origin: content-box;
  background-size: 48px 48px;
}

.autoparty h3 {
  font-size: xx-large;
  padding: 10px 5px 15px;
}

.autoparty.disconnected {
  background-image: url('/static/party-disconnected.svg');
}
.autoparty.connected {
  background-image: url('/static/party-connected.svg');
}
.autoparty.hosting.disconnected {
  background-image: url('/static/party-hosting-disconnected.svg');
}
.autoparty.hosting.connected {
  background-image: url('/static/party-hosting.svg');
}
.autoparty.attending.disconnected {
  background-image: url('/static/party-attending-disconnected.svg')
}
.autoparty.attending.connected {
  background-image: url('/static/party-attending.svg')
}
.autoparty.attending.host-disconnected {
  background-image: url('/static/party-attending-host-disconnected.svg')
}

.autoparty.disconnected button, .autoparty:disabled {
  color: grey;
}

.autoparty h3 {
  width: 100%;
}

.autoparty input {
  display: block;
  width: 100%;
}


.autoparty button {
  width: 100%;
}

.autoparty input, .autoparty button {
  padding: 5px;
  font-size: medium;
  /* border-radius: 0; */
  background: whitesmoke;
  line-height: 1.5em;
}

.autoparty.connected button:enabled {
  color: steelblue;
  cursor: pointer;
}

.autoparty .dismiss {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: 5px 10px;
}

.command {
  padding: 5px;
  line-height: 150%;
  cursor: pointer;
}

.fuzz--match {
  font-weight: bold;
}
