html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  /* Approximate system fonts
    -apple-system, BlinkMacSystemFont, // Safari Mac/iOS, Chrome
    "Segoe UI", Roboto, Oxygen, // Windows, Android, KDE
    Ubuntu, Cantarell, "Fira Sans", // Ubuntu, Gnome, Firefox OS
    "Droid Sans", "Helvetica Neue", sans-serif; // Old Android
  */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}

input[type=text].disabled {
  background: beige;
}

svg {
  fill: currentColor;
}

.App {
  min-width: 250px;
  background: whitesmoke;
}

.bar {
  position: relative;
  z-index: 3;
}

.bar-field {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: large;
  padding: 5px 8px 5px 30px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='30px' width='30px'><text x='5px' y='1.3em' font-size='large'>🔍</text></svg>");
  background-repeat: no-repeat;
  z-index: 4;
}

.bar-list {
  position: absolute;
  top: 35px;
  z-index: 2;
}

.bar-list ol {
  border: 1px solid grey;
  background: white;
}

.bar-dismiss {
  background: transparent;
  border: 0;
  position: fixed;
  top: 1px;
  right: 1px;
  font-size: large;
  padding: 5px 23px 5px 8px;
  z-index: 4;
}

.main {
  position: relative;
  z-index: 1;
  padding: 50px 5px;
  width: 100%;
}
.player-alt {
  display: block;
  margin: auto auto;
  max-width: 100%;
}
.Player {
  margin: auto auto;
  max-width: 100%;
}
.youtube-result {
  border: 1px solid lightgrey;
  border-width: 0 0 1px 0;
}

.youtube-result.actionable {
  cursor: pointer;
}

.youtube-result img {
  width: 60px;
  height: 45px;
  vertical-align: top;
}

.youtube-result-info {
  display: inline-block;
}

.youtube-result-title {
  font-size: small;
  font-weight: bold;
}

.youtube-result-channel {
  font-size: x-small;
}

.youtube-result-title, .youtube-result-channel {
  padding: 5px;
}

.actionable {
  position: relative;
}

.actionable-actions {
  position: absolute;
  top: 0;
  right: 0;
}

.youtube-result .actionable-actions {
  top: 13px;
}

.actionable-actions button {
  border: 0;
  background: transparent;
}

.actionable-actions button:hover, .controls button:hover {
  color: steelblue;
}

.controls {
  position: fixed;
  z-index: 3;
  bottom: 0;
  width: 100%;
  font-size: medium;

  background: white;
  box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.25);

  display: grid;
  grid-template-rows: minmax(30px, 1fr) 10px min(30px, 1fr);
  grid-template-columns: 50px 50px minmax(50px, 1fr) 50px 50px;
  grid-template-areas:
    "playingNow       playingNow playingNow    playingNow playingNow"
    "seekBar       seekBar seekBar    seekBar seekBar"
    "toggleHistory prev    togglePlay next    toggleUpNext"
}

.controls button {
  font-size: inherit;
  border: 0;
  background: transparent;
  padding-bottom: 10px;
}

.playingNow {
  box-shadow: 0 -2px 5px rgba(200, 200, 200, 0.25);
  grid-area: playingNow;
  vertical-align: middle;
  font-size: small;
  position: relative;
}

.seek-bar {
  grid-area: seekBar;
  border: 1px solid #f8f8f8;
  background: #ffffff;
}

.seek-bar--played {
  height: 10px;
  background: hotpink;
}

.seek-bar--handle {
  height: 15px;
  width: 15px;
  background: #e0e0e0;
  border: 1px solid #f8f8f8;
  border-radius: 2px;
  margin-top: -13px;
}

.toggleHistory {
  grid-area: toggleHistory;
}
.prev {
  grid-area: prev;
}
.togglePlay {
  grid-area: togglePlay;
}
.next {
  grid-area: next;
}
.toggleUpNext {
  grid-area: toggleUpNext;
}

.queue {
  padding-bottom: 100vh;
  display: grid;
  grid-template-areas:
    "history"
    "upNext"
}

@media only screen and (min-width: 500px)  {
  .queue {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "history upNext"
  }
}

.queue h3 {
  text-align: center;
  font-size: large;
  margin-top: 1em;
}

.history {
  grid-area: history;
}

.upNext {
  grid-area: upNext;
}

.inCollection {
  color: green;
}

.notInCollection {

}

.autoparty {
  position: relative;
  padding: 0;
  width: 100%;
  max-width: 640px;
  margin: 0 auto 30px;
}

.autoparty h1 {
  font-size: large;
  padding: 5px;
}

.autoparty p {
  margin: 20px 0;
  padding: 5px;
}

.autoparty form {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.autoparty input, .autoparty button {
  padding: 5px;
  font-size: medium;
  /* border-radius: 0; */
  background: transparent;
  color: steelblue;
  line-height: 1.5em;
}

.autoparty input:hover, .autoparty button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.autoparty .dismiss {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: 5px 10px;
}

.showPlayerToggle {
  color: black;
}
.showPlayerToggle svg {
  width: 1.2em;
  vertical-align: middle;
}
.showPlayerToggle--hiding {
  color: black;
}
.showPlayerToggle--showing {
  color: green;
}

.removeButton {
  padding-right: 20px;
}
