body {
  background-color: #33333;
  background-image: url('/static/bg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100% !important;
}
.iconPage ul {
  list-style: none;
  clear: both;
}
.iconPage li {
  color: whitesmoke;
  margin: 10px;
  width: 150px;
  float: left;
}
.iconPage .label {
  display: block;
}
.iconPage li svg, .iconPage img {
  vertical-align: middle;
}
.iconPage svg {
  color: whitesmoke;
  width: 48px;
  height: 48px;
  fill: currentColor;
}

.iconPage img {
  background: whitesmoke;
  width: 100px;
  height: 100px;
}
