.logsPage {
  height: 100%;
  width: 100%;
  padding: 0;
  position: relative;
  background-color: #4a0045;
  background-image: url('/static/bg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100% !important;
  transition-property: background-color;
  transition-duration: 1s;
  overflow: scroll;
}

.logsPage h2 {
  margin: 15px;
  font-size: 300%;
  color: whitesmoke;
}

.logsContainer {
  transform: translateX(0); /* Allows this container to bound the inner fixed positioned elements */
}

.logsPage .bar-list.list > ol > li {
  padding: 10px;
}

.logsPage .bar-list.list > ol > li:nth-child(odd) {
  background: rgba(245, 245, 245, 0.50);
}

.logsPage .bar-list.list > ol > li:nth-child(even) {
  background: rgba(249, 249, 255, 0.25);
}
