body {
  background-color: #33333;
  background-image: url('/static/bg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100% !important;
}

.statusPage h2 {
  margin: 15px;
  font-size: 300%;
}

.authForm {
  float: right;
}

.authForm label {
  margin-left: 10px;
}

.deployment {
  color: black;
  background: whitesmoke;
  margin-bottom: 15px;
  padding: 5px 15px;
}

.deploymentList li {
  color: whitesmoke;
}

.deployment-delete {
  border: 1px solid firebrick;
  background: darkred;
  color: whitesmoke;
}

.deployment-link, .deployment-created {
  float: right;
}
